<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learning Ansible :: Lo Hicimos</title>
  </head>
  <body>
    <h1>We Did It!</h1>
    <p>You've configured your Vagrant virtual machine {{ ansible_hostname }}</p>
    <img src="https://media.giphy.com/media/qvkiDE3xwRPdm/giphy.gif">
  </body>
</html>
